@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
#cent {
    background: url(http://kshisa.ru/images/butt/gorinoch.png) no-repeat;
    background-size: 100%;
    font-family: "Sans MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #675353;
    font-weight: 600;
    font-style: oblique;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
}
.image {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    cursor: pointer;
}
#crew {
    height: 140px;
}
#posters {
    height: 140px;
    background: url(http://kshisa.ru/images/butt/film.png) no-repeat;
}
.Rating { 
    font-size: 20px; 
}
.head {
    height: 60px;
}