@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.App {
  text-align: center;
}
#cent {
    font-family: "Sans MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #675353;
    font-weight: 600;
    font-style: oblique;
    margin-left: 80px;
    height: 800px;
    float: left;
}
.image {
    height: 129px;
    margin-left: 55px;
    margin-top: 10px;
    cursor: pointer;
}
#posters {
    height: 140px;
}
